version: "3.9"

services:
  dev:
    image: mcr.microsoft.com/devcontainers/base:ubuntu
    privileged: true
    init: true
    volumes:
      - ..:/workspace:cached
      - /var/run/docker.sock:/var/run/docker.sock
    command: sleep infinity

